/*This is main stylesheet*/
/*colour scheme*/ 
/*light blue #BDE4FF*/
/*blue #8698D9 */ 
/*cyan #72F2EB */ 
/*purple #B484D9 */ 
/* magenta #F596FA */ 
/*white #FDF6EE */

.black{color: #000000;}

.white{color:#ffffff ;}

.beige{ background-colour: #996100 }

.lightblue{
  background-color: #BDE4FF;}

.grey{color:#CACACA}
