/*This is main stylesheet*/
/*colour scheme*/ 
/*light blue #BDE4FF*/
/*blue #8698D9 */ 
/*cyan #72F2EB */ 
/*purple #B484D9 */ 
/* magenta #F596FA */ 
/*white #FDF6EE */



.black{color: #000000;}

.white{color:#ffffff ;}



.bg-lightblue{background-color: #00ffee; padding: 20px; margin: 0px; border: 3px solid #ffffff;}

.bg-limegreen{background-color: #00ff6e; padding: 20px; margin: 0px; border: 3px solid #ffffff;}

.bg-green{background-color: #237145; padding: 20px; margin: 0px; border: 3px solid #ffffff;}

.bg-black{background-color: #000000; padding: 20px; margin: 0px; border: 3px solid #ffffff;}

.bg-hotpink{background-color: #ff00c8; padding: 20px; margin: 0px; border: 3px solid #ffffff;}

.bg-grey{background-color: #a1a1a1; padding: 20px; margin: 0px; border: 3px solid #ffffff;}





.limegreen{color: #00ff6e}

.grey{color:#CACACA}

nav{
  background-color:#F596FA ;
  border: 5px solid #000000;
  color:#ffffff;
  display: block;
overflow: hidden;
width:100%
}

nav ul li{
  display: inline-block;
  list-style-type: none;
}

nav ul li a{
  color: #000000;
  display: block;
  line-height: 56px;
  text-decoration: none;
  padding: 10px;
}

nav ul li :hover{
  background-color: #00fbff
  
}

nav ul li:hover a{
  color: red
}

footer{
  background-color:#F596FA ;
  color: #ffffff;
  text-align: center;
  padding: 3px;
}


